@import './_theme.scss';
@import './_variables.scss';

.app {
  text-align: center;
}
.app-header{
  width: $width;  
  margin: 0 auto;
  display: flex;
  padding-top: 10px;
  align-items: center;
  
  img{
    height: 40px;
  }
  
  .page-title{
    font-size: 30px;
    color: $primary;
    font-weight: bold;
    margin-left: 10px;
  }
}

.toggle-page{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: $primary;
  border-radius: 4px;
  display: inline-block;
  color: white;
  padding: 7px 12px 7px 12px;
}