.app-container {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center; }

.app {
  text-align: center;
  width: 100%;
  overflow: hidden; }

.app-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 10px;
  align-items: center; }
  .app-header img {
    height: 40px;
    margin-left: 10px; }
  .app-header .page-title {
    font-size: 30px;
    color: #30716D;
    font-weight: bold;
    margin-left: 10px;
    flex-grow: 1;
    text-align: left; }
  .app-header .menu-container {
    flex-basis: 40px;
    margin-right: 20px; }

.toggle-page {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #30716D;
  border-radius: 4px;
  display: inline-block;
  color: white;
  padding: 7px 12px 7px 12px; }

.loading-page {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .loading-page img {
    width: 100px;
    animation: rotating 2s linear infinite; }

.logout-page {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #30716D;
  font-weight: bold;
  font-size: 40px; }
  .logout-page img {
    margin-top: 30px;
    width: 50%; }

input {
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px; }
  input:focus {
    outline: none !important;
    box-shadow: 0 0 5px #30716D; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@media (min-width: 520px) {
  .app {
    width: 500px; } }
