.app {
  text-align: center; }

.app-header {
  width: 340px;
  margin: 0 auto;
  display: flex;
  padding-top: 10px;
  align-items: center; }

.app-header img {
  height: 40px; }

.app-header .page-title {
  font-size: 30px;
  color: #30716D;
  font-weight: bold;
  margin-left: 10px; }

.toggle-page {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #30716D;
  border-radius: 4px;
  display: inline-block;
  color: white;
  padding: 7px 12px 7px 12px; }

.loading-page {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.loading-page img {
  width: 100px;
  animation: rotating 2s linear infinite; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
