.preview {
  margin: 0 auto;
  margin-top: 30px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-bottom: 2px solid #30716D;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 0px 15px 0px;
  position: relative; }

.preview input, .preview textarea, .preview textarea:focus {
  border: 0;
  box-shadow: none;
  width: 100%;
  padding-left: 0;
  outline: none;
  resize: none; }

.preview-title {
  position: absolute;
  width: 80px;
  left: calc(50% - 40px);
  top: -10px;
  text-align: center;
  color: #30716D;
  font-weight: bold;
  background-color: white; }

.separator {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: #cccccc; }

.preview-section-container {
  display: flex;
  padding: 0px 15px 0px 15px; }

.preview-section-container .preview-section-title {
  margin-right: 15px;
  flex-basis: 80px;
  flex-shrink: 0;
  flex-grow: 0;
  text-align: left;
  font-weight: bold; }

.preview-subject-value {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.preview-subject-value .preview-fixed-text {
  text-align: left;
  margin-bottom: 10px; }

.preview-section-content-container {
  width: 100%; }
