@import './_theme.scss';
@import './_variables.scss';

.report-container{
  display: flex;
  flex-direction: column;
  width: $width;
  margin: 0 auto;
  margin-top: 10px;
}

.load-report{
  padding: 5px;
  background-color: $primary;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.employee-container {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}