@import './_theme.scss';
@import './_variables.scss';

.report-container{
  display: flex;
  flex-direction: column;
  width: $width;
  margin: 0 auto;
  margin-top: 10px;
}

.load-report{
  padding: 5px;
  background-color: $primary;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.employee-container {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.employee-name{
  text-align: left;
  padding: 4px;
  padding-bottom: 10px;
  border-bottom: 1px solid $primary;
  margin-bottom: 10px;
}

.event-container{
  background-color: #efefef;
  margin-bottom: 3px;
  padding: 4px;
  display: flex;
}

.reason-label{
  padding: 3px;
  background-color: $primary;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  border-radius: 4px;
  font-size: 12px;
}