.report-container {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 0 auto;
  margin-top: 10px; }

.load-report {
  padding: 5px;
  background-color: #30716D;
  color: white;
  cursor: pointer;
  border-radius: 4px; }

.employee-container {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc; }
